---
layout: layout-full-width
---

<% content_for :breadcrumbs do %>
  <%= partial(:'partial-breadcrumbs', :locals => { breadcrumb: [{ title: "Home", url: "/" }, { title: data.business.name, url: "/business"}] }) %>
<% end %>

<% content_for :column1 do %>


  <header class="page-header">
    <hgroup>
      <h1><%= data.business.name %>
      </h1>
                  <h2 class="subtitle">
              Bodmin Agr Ltd. Monument Way, Bodmin PL31 1NZ
            </h2>
    </hgroup>
  </header>

<!--
  <div class="inline-modal text" id="give-access">

    <h2 class="heading-medium">Want to give someone else access to this business?</h2>
    <p>You can give agents or other people you trust access so they can check or complete applications on your behalf.</p>
    <p class="button">Give someone access</p> <a href="#give-access" class="js-toggle">No thanks</a>

  </div>
-->


  <ul class="account-links">
    <li><a href="account">Business details</a></li>
  </ul>


   <div class="tabs">

      <div class="tabs-nav">

        <ul class="tabs-list">
          <li class="active"><a  id="tasks-link" href="#tasks">Tasks</a></li>
          <li><a id="messages-link" href="#messages">Messages <span class="new-message-indicator">1<span class="visuallyhidden"> new</span></span></a></li>
          <li><a id="applications-link" href="#applications">Applications</a></li>
        </ul>

      </div>

      <div class="tabs-content">

        <div class="tabs-panel" id="tasks">


<div class="grid-row">

      <div class="column-two-thirds">

        <h2 class="heading-medium">1. Check and update your land parcels</h2>
        <p>4 out of 13 land parcels have been checked so far.</p>
        <p><a href="/land">Check your land parcels</a></p>


        <h2 class="heading-medium">2. Apply for schemes</h2>
        <p>You must apply for the basic payment scheme before 10 June 2015.</p>
        <p><a href="/bps-application/scheme-eligibility">Apply for the basic payment scheme</a></p>


      </div>

      <div class="column-third">



      </div>

    </div>


        </div>

        <div class="tabs-panel" id="messages">

          <div class="business-filter">
            <label>Email you about new messages
              <select class="single-row-select">
                <option>immediately</option>
                <option>once a day</option>
                <option>once a week</option>
                <option>never</option>
              </select>
            </label>
          </div>

          <p>You have 1 new message.</p>

           <ul class="message-list">
              <li class="new-message">
                <strong class="message-date">15 Sep 2014</strong>
                <details>
                  <summary>Want to give someone else access to this business?</summary>

                  <span class="message-content text">

                  <p>
                    You can give agents or other people you trust access so they can check or complete applications on your behalf.
                  </p>

                  <p><a href="">Give someone access</a></p>

                  </span>
                </details>
              </li>
              <li>
                <strong class="message-date">10 Sep 2014</strong>
                <details>
                  <summary>Remember to apply for the basic payment scheme before 15 May 2015</summary>

                  <span class="message-content text">
                    <p>All applications for this scheme must be made before 15 May.</p>
                    <p><a href="">Apply for the basic payment scheme</a>.</p>
                  </span>

                </details>
              </li>
            </ul>

        </div>

        <div class="tabs-panel" id="applications">

          <h2 class="heading-large">Scheme applications</h2>

          <p>You have not applied for any schemes yet.</p>


          <p><a href="/bps-application/scheme-eligibility">Apply for the basic payment scheme</a></p>

        </div>


    </div>
  </div>




<!--

  <ul class="action-list font-xsmall">
    <li><a href="business-details">Full business details</a></li>
    <li><a href="#">Manage access permissions</a></li>
  </ul>

-->

<% end %>