---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial(:'partial-breadcrumbs', :locals => { breadcrumb: [{ title: "Home", url: "/" }, { title: data.business.name, url: "/business"}] }) %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1><%= data.business.name %></h1>
    </hgroup>
  </header>


  <div class="inline-modal" id="give-access">
    <h2 class="heading-medium">Want to give someone else access to this business?</h2>
    <p>You can give agents or other people you trust access so they can check or complete applications on your behalf.</p>
    <p class="button">Give someone access</p> <a href="#give-access" class="js-toggle">No thanks</a>
  </div>


  <h2 class="heading-medium">1. Compete your business details</h2>
  <p>Tell us about the people accountable for this business.</p>
  <p><a href="scheme-apply">Complete your business details</a></p>


  <h2 class="heading-medium">2. Check your business is eligible</h2>
  <p>Check that this business is eligible for rural payments.</p>
  <p><a href="scheme-apply">Check you are eligible</a></p>


  <h2 class="heading-medium">3. Check and update your land parcels</h2>
  <p>0 out of 13 land parcels have been checked so far.</p>
  <p><a href="/land">Check your land parcels</a></p>


  <h2 class="heading-medium">4. Apply for schemes</h2>
  <p>You must apply for the Basic Payment Scheme before 10 June 2015.</p>
  <p><a href="scheme-eligibility">Apply for the Basic Payment Scheme</a></p>


<% end %>

<% content_for :column2 do %>

  <h2 class="heading-small">Business details</h2>

  <div class="font-xsmall">
    <p>
      Bodmin Agr Ltd.<br>
      Monument Way <br>
      Bodmin <br>
      PL31 1NZ <br>
      United Kingdom
    </p>

    <p>
      Email: <a href="">info@bodminagrltd.co.uk</a> <br>
      Landline: 0300 790 6802<br>
      Mobile: 0300 123 0798<br>
    </p>
  </div>

<!--
  <%= partial "partial-map", :locals => { :map => 'business'} %>
-->

  <ul class="action-list font-xsmall">
    <li><a href="business-details">Full business details</a></li>
    <li><a href="#">Manage access permissions</a></li>
  </ul>

<% end %>