---
layout: layout-full-width
---

<% content_for :breadcrumbs do %>
  <%= partial(:'partial-breadcrumbs', :locals => { breadcrumb: [{ title: "Home", url: "/" }, { title: data.business.name, url: "/business"}] }) %>
<% end %>

<% content_for :column1 do %>


  <header class="page-header">
    <hgroup>
      <h1><%= data.business.name %>
      </h1>
                  <h2 class="subtitle">
              Bodmin Agr Ltd. Monument Way, Bodmin PL31 1NZ
            </h2>
    </hgroup>
  </header>


  <div class="text">

    <h2 class="heading-medium">Complete your business details</h2>
    <p>You must complete your business details before you can apply for the basic payment scheme.
    <p><a href="">Finish telling us about your business</a></p>


    <h2 class="heading-medium">Give someone else permission to edit this business</h2>
    <p>You can give agents or other people you trust permission to complete applications on your behalf.</p>
    <p><a href="">Give someone permission</a></p>


  </div>


<% end %>
