---
layout: layout-full-width
---

<% content_for :column1 do %>

  <header class="page-header no-breadcrumb">
    <hgroup>
      <h1>Rural Payments</h1>
    </hgroup>
  </header>


  <p>
    <a href="" style="float: right">Edit your personal details</a>
    Welcome, Ian Barclay
  </p>


  <h2 class="heading-medium">Your businesses</h2>

  <ul class="business-list">
    <li>
      <div class="new-message-indicator"><a href="">1 new message</a></div>
      <a href="/business/overview-2">Agri Agents Ltd.
      <span>Low Street, West Yorkshire, YR4 XP2</span></a>
    </li>
  </ul>

            <p><a class="button" href="add-business">Add another business</a></p>

<% end %>
