---
layout: layout-full-width
---

<% content_for :column1 do %>

  <header class="page-header no-breadcrumb">
    <hgroup>
      <h1>Rural payments</h1>
    </hgroup>
  </header>


  <p>
    Welcome, <a href="">Ian Barclay</a>
  </p>




            <h2 class="heading-medium">Your businesses</h2>



      <table class="business-list-sortable">

      <thead>

        <tr>
          <th scope="col" data-sort="string" class="sorting-asc">Business</th>
          <th scope="col" data-sort="string">Applications</th>
          <th scope="col" data-sort="int" class="numeric last">Messages</th>
        </tr>

      </thead>

      <tbody>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Bodmin Agri Ltd.
                </a><span>
           Low Street, West Yorkshire, YR4 XP2</span>

          </th>
          <td></td>
          <td class="numeric last" ><a href="">1 new</a></td>
        </tr>

      </tbody>

    </table>

    <p><a class="buttonx" href="add-business">Add another business</a></p>

<% end %>
