---
layout: layout-full-width
---

<% content_for :column1 do %>

  <header class="page-header no-breadcrumb">
    <hgroup>
      <h1>Rural payments</h1>
    </hgroup>
  </header>


  <p>
    Welcome, <a href="">Ian Barclay</a>
  </p>




            <h2 class="heading-medium">Your businesses</h2>

            <ul class="business-list">
              <li>
                <div class="new-message-indicator"><a href="">1 new message</a></div>
                <a href="/business/overview-2">Agri Agents Ltd.
                <span>Low Street, West Yorkshire, YR4 XP2</span></a>
              </li>
              <li>

                <div class="bps-submitted-indicator">BPS submitted</div>
                <a href="/business/overview-2">Black Horse Farm.
                <span>Black Horse Lane, Reading R5 6PQ</span></a>
              </li>
              <li>
                <a href="/business/overview-2">Bodmin Agri Ltd.
                <span>Monument Way, Bodmin PL31 1NZ</span></a>
              </li>
            </ul>

            <p><a class="button" href="add-business">Add another business</a></p>

<% end %>
