---
layout: layout-full-width
---

<% content_for :column1 do %>

  <header class="page-header no-breadcrumb">
    <hgroup>
      <h1>Rural payments</h1>
    </hgroup>
  </header>


  <p>
    Welcome, <a href="">Ian Barclay</a>
  </p>




            <h2 class="heading-medium">Your businesses</h2>


      <fieldset>
        <legend class="form-label">Search by business name or SBI number</legend>
        <div class="form-search">
          <div class="form-group-search">
            <input class="form-control" id="search" type="search">
          </div>
          <div class="form-group-button">
            <button class="button" type="button">Search</button>
          </div>
        </div>
      </fieldset>

      <br>

      <table class="js-table-sortable business-list-sortable">

      <thead>

        <tr>
          <th scope="col" data-sort="string" class="sorting-asc">Business</th>
          <th scope="col" data-sort="string">Applications</th>
          <th scope="col" data-sort="int" class="numeric last">Messages</th>
        </tr>

      </thead>

      <tbody>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Agri Agents Ltd.
                </a><span>
           Low Street, West Yorkshire, YR4 XP2</span>

          </th>
          <td></td>
          <td class="numeric last" ><a href="">1 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Black Horse Farm.
                </a><span>
           Black Horse Lane, Reading R5 6PQ</span></a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">14 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Bodmin Agri Ltd.
                </a><span>
           Monument Way, Bodmin PL31 1NZ</span>
              </a>
          </th>
          <td>BPS 2015 - Applied</td>
          <td class="numeric last" ><a href="" class="visuallyhidden">0</a></td>
        </tr>

                <tr>
          <th scope="row">
            <a href="/business/overview-2">Agri Agents Ltd.
                </a><span>
           Low Street, West Yorkshire, YR4 XP2</span>
            </a>
          </th>
          <td>BPS 2015 - Paid</td>
          <td class="numeric last" ><a href="">1 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Black Horse Farm.
                </a><span>
           Black Horse Lane, Reading R5 6PQ</span></a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">14 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Bodmin Agri Ltd.
                </a><span>
           Monument Way, Bodmin PL31 1NZ</span>
              </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="" class="visuallyhidden">0</a></td>
        </tr>

                <tr>
          <th scope="row">
            <a href="/business/overview-2">Agri Agents Ltd.
                </a><span>
           Low Street, West Yorkshire, YR4 XP2</span>
            </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">1 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Black Horse Farm.
                </a><span>
           Black Horse Lane, Reading R5 6PQ</span></a>
          </th>
          <td>BPS 2015 - In progress</td>
          <td class="numeric last" ><a href="">14 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Bodmin Agri Ltd.
                </a><span>
           Monument Way, Bodmin PL31 1NZ</span>
              </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="" class="visuallyhidden">0</a></td>
        </tr>

                <tr>
          <th scope="row">
            <a href="/business/overview-2">Agri Agents Ltd.
                </a><span>
           Low Street, West Yorkshire, YR4 XP2</span>
            </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">1 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Black Horse Farm.
                </a><span>
           Black Horse Lane, Reading R5 6PQ</span></a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">14 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Bodmin Agri Ltd.
                </a><span>
           Monument Way, Bodmin PL31 1NZ</span>
              </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="" class="visuallyhidden">0</a></td>
        </tr>

                <tr>
          <th scope="row">
            <a href="/business/overview-2">Agri Agents Ltd.
                </a><span>
           Low Street, West Yorkshire, YR4 XP2</span>
            </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">1 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Black Horse Farm.
                </a><span>
           Black Horse Lane, Reading R5 6PQ</span></a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">14 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Bodmin Agri Ltd.
                </a><span>
           Monument Way, Bodmin PL31 1NZ</span>
              </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="" class="visuallyhidden">0</a></td>
        </tr>

                <tr>
          <th scope="row">
            <a href="/business/overview-2">Agri Agents Ltd.
                </a><span>
           Low Street, West Yorkshire, YR4 XP2</span>
            </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">1 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Black Horse Farm.
                </a><span>
           Black Horse Lane, Reading R5 6PQ</span></a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">14 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Bodmin Agri Ltd.
                </a><span>
           Monument Way, Bodmin PL31 1NZ</span>
              </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="" class="visuallyhidden">0</a></td>
        </tr>

                <tr>
          <th scope="row">
            <a href="/business/overview-2">Agri Agents Ltd.
                </a><span>
           Low Street, West Yorkshire, YR4 XP2</span>
            </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">1 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Black Horse Farm.
                </a><span>
           Black Horse Lane, Reading R5 6PQ</span></a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">14 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Bodmin Agri Ltd.
                </a><span>
           Monument Way, Bodmin PL31 1NZ</span>
              </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="" class="visuallyhidden">0</a></td>
        </tr>

                <tr>
          <th scope="row">
            <a href="/business/overview-2">Agri Agents Ltd.
                </a><span>
           Low Street, West Yorkshire, YR4 XP2</span>
            </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">1 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Black Horse Farm.
                </a><span>
           Black Horse Lane, Reading R5 6PQ</span></a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">14 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Bodmin Agri Ltd.
                </a><span>
           Monument Way, Bodmin PL31 1NZ</span>
              </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="" class="visuallyhidden">0</a></td>
        </tr>

                <tr>
          <th scope="row">
            <a href="/business/overview-2">Agri Agents Ltd.
                </a><span>
           Low Street, West Yorkshire, YR4 XP2</span>
            </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">1 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Black Horse Farm.
                </a><span>
           Black Horse Lane, Reading R5 6PQ</span></a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="">14 new</a></td>
        </tr>

        <tr>
          <th scope="row">
            <a href="/business/overview-2">Bodmin Agri Ltd.
                </a><span>
           Monument Way, Bodmin PL31 1NZ</span>
              </a>
          </th>
          <td></td>
          <td class="numeric last" ><a href="" class="visuallyhidden">0</a></td>
        </tr>

      </tbody>

    </table>

            <div class="pager">

      <div class="pager-controls">

        <ul class="pager-items">
          <li>1</li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>

        <a class="pager-next" href="#">Next</a>

      </div>

      <div class="pager-summary">Showing 1 – 50 of 146 businesses</div>

      </div>

            <p><a class="button" href="add-business">Add another business</a></p>

<% end %>
