---
layout: layout-full-width
---

<% content_for :column1 do %>

  <header class="page-header no-breadcrumb">
    <hgroup>
      <h1>Rural payments</h1>
    </hgroup>
  </header>


  <p>
    Welcome, Ian Barclay
    <br><br>
  </p>

    <ul class="account-links">
      <li><a href="account">Your details</a></li>
    </ul>

 <div class="tabs">

      <div class="tabs-nav">

        <ul class="tabs-list">
          <li class="active"><a href="#businesses">Businesses</a></li>
          <li><a href="#messages">Messages (1<span class="visuallyhidden"> new</span>)</a></li>
          <li><a href="#applications">Applications</a></li>
        </ul>

      </div>

      <div class="tabs-content">

        <div class="tabs-panel" id="businesses">




            <h2 class="heading-large">Businesses</h2>

            <ul class="business-list">
              <li>
                <a href="/business/overview-2">Black Horse Farm.
                <span>Black Horse Lane, Reading R5 6PQ</span></a>
              </li>
              <li>
                <div class="new-message-indicator"><a href="">1 new message</a></div>
                <a href="/business/overview-2">Agri Agents Ltd.
                <span>Low Street, West Yorkshire, YR4 XP2</span></a>
              </li>
              <li>
                <a href="/business/overview-2">Bodmin Agri Ltd.
                <span>Monument Way, Bodmin PL31 1NZ</span></a>
              </li>
            </ul>

            <p><a class="button" href="add-business">Add another business</a></p>

        </div>

        <div class="tabs-panel" id="messages">


          <h2 class="heading-large">Messages</h2>

          <div class="business-filter">
            <label>Show messages for
              <select>
                <option>all businesses</option>
                <option>--------------</option>
                <option>Black Horse Farm</option>
                <option>Agri Agents Ltd</option>
                <option>Bodmin Agri Ltd</option>
              </select>
            </label>
          </div>


          <p>You have 1 new message.</p>

           <ul class="message-list">
              <li class="new-message">
                <strong class="message-date">15 Sep 2014</strong>
                <details class="text">
                  <summary>You have been given access to Agri Agents Ltd.</summary>

                  <span class="message-content">
                    <p>John Smith has given you permission to view and amend information about this business and make applications on their behalf.</p>
                    <p><a href="">Go to this business</a>.</p>
                  </span>

                </details>
              </li>
              <li>
                <strong class="message-date">10 Sep 2014</strong>
                <details class="text">
                  <summary>You have been given access to Bodmin Agri Ltd.</summary>

                  <span class="message-content">
                    <p>John Smith has given you permission to view and amend information about this business and make applications on their behalf.</p>
                    <p><a href="">Go to this business</a>.</p>
                  </span>

                </details>
              </li>
              <li>
                <strong class="message-date">5 Sep 2014</strong>
                <details class="text">
                  <summary>Welcome to Rural Payments</summary>

                  <span class="message-content">

                  <p>
                    You can use this service to apply for Rural Payments schemes.
                    You'll find any important messages here when you sign in.
                  </p>

                  <p>Regards,</p>

                  <p>The Rural Payments team</p>
                  </span>
                </details>
              </li>
            </ul>

      </div>


        <div class="tabs-panel" id="applications">

              <h2 class="heading-large">Applications in progress</h2>


              <ul class="application-list">
                <li>
                  <a href="/business">Black Horse Farm,
                  <span>Basic Payment Scheme</span></a>
                </li>
                <li>
                  <a href="/business">Agri Agents Ltd.
                  <span>Basic Payment Scheme</span></a>
                </li>
              </ul>

              <h2 class="heading-large">Submitted applications</h2>

              <ul class="application-list">
                <li>
                  <a href="/business">Bodmin Agri Ltd.
                  <span>Basic Payment Scheme</span></a>
                </li>
              </ul>

        </div>

      </div>

    </div>

<% end %>
